@tailwind base;
@tailwind components;
@tailwind utilities;
.btn {
    @apply py-2 px-4 rounded-md shadow;
}

.btn-indigo {
    @apply bg-indigo-500 text-white;
}

.btn-indigo:hover {
    @apply bg-indigo-700;
}

/* Transitions */

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-leave-from, .fade-enter-to {
    opacity: 1;
}